<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eCommerce API's</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
    <br><br><br>
    <div class="row">
        <div class="container text-center ">
            <img src="img/logo.png" style="height: 200px;" class="img-fluid" alt="Responsive image">
            <h1>Welcome To eCommerce API</h1>
            <h4>created by: Marij Mokoginta</h4>
        </div>
    </div>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>